{% extends "base1.html" %}
{% block title %}Add User{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css')}}">
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="col-md-6 signup-container">
        <button class="btn btn-success mb-3" onclick="goBack()">BACK</button>
        <h2 class="text-center">ADD NEW USER</h2>
        <form id='myForm' method="POST" action="/adduser" novalidate>
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" name="firstname" placeholder="First name" required>
                    <div class="invalid-feedback">
                        uh- ohh you forgot your first name
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="lastName" name="lastname" placeholder="Last name" required>
                    <div class="invalid-feedback">
                        Uh-oh! You forgot your last name.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    please enter a valid email address
                </div>
            </div>
            {% if user.organization.category == 'Community' %}
            <div class="mb-3">
                <select id="category" name="role" class="form-select" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="School">Admin</option>
                    <option value="School">Member</option>
                </select>
            </div>
            {% else %}
            <div class="mb-3">
                <label for="category" class="form-label">Role</label>
                <select id="category" name="role" class="form-select" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="School">Admin</option>
                    <option value="Community">Student</option>
                    <option value="Community">Teacher</option>
                </select>
            </div>
            {% endif %}
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
                <div class="invalid-feedback">
                    please enter a password
                </div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                <div class="invalid-feedback">
                    please confirm your password
                </div>
            </div>
            <button type="submit" class="btn btn-custom w-100">ADD USER</button>
        </form>
    </div>
</div>
{% endblock %}