{% extends "base1.html" %}
{% block title %}Reset Password{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css')}}">
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="col-md-6 signup-container">
        <button class="btn btn-success mb-3" onclick="goBack()">BACK</button>
        <h2 class="text-center">RESET PASSWORD</h2>
        <form id='myForm' method="POST" action="resetpass" novalidate>
            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    please enter a valid email address
                </div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password1" placeholder="Password" required>
                <div class="invalid-feedback">
                    please enter a password
                </div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required>
                <div class="invalid-feedback">
                    please confirm your password
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="code" name="code" placeholder="Enter Code" required>
                <div class="invalid-feedback">
                    please enter a valid email address
                </div>
            </div>
            <button type="submit" class="btn btn-custom w-100">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}